* 
/* ------------------------------ PAGINA----------------------------*/
/* ----------------------- Cuerpo ----------------------*/
{
    margin: 0;
    padding: 0;
    /* Se aplica box-sizing para mantener el mismo tamaño del box
    contando con el margin y padding*/
    box-sizing: border-box;
    font-weight: initial;
    line-height: 2rem; 
}
/* ---------------------- Fuentes ----------------------*/
    @font-face {
        font-family: Josefin;
        src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
    }
    @font-face {
        font-family: "Livvic";
        src: url("../fonts/Livvic/Livvic-Regular.ttf");
    }
    @font-face {
        font-family: "Janda";
        src: url("../fonts/JandaStylishScript.ttf");
    }
    @font-face {
        font-family: "Black";
        src: url("../fonts/IndieFlower-Regular.ttf");
    }

    @font-face {
        font-family: "Bebas";
        src: url("../fonts/BebasNeue-Regular.ttf");
    }

    /* --------------- Títulos y parrafos -------------------*/
    h1{
        font-family: "Janda";
        font-size: 3rem;
    }
    h2{
        font-family: Livvic;
        font-size: 2rem;
        font-weight: bolder;
        line-height: 3rem;
    }
    h4{
        font-family: Livvic;
        font-size: 1.5rem;
        font-weight: bolder;
        line-height: 3rem;
    }
    h3{
        font-family: Bebas;
        font-size: 1.3rem;
    }
    h5{
        font-family: Bebas;
        font-size: 1.3rem;
    }
    p{
        font-family: Livvic;
        font-size: 1.2rem;
    }
    /* ----------------------- Lista ------------------------*/
    ul{
        font-family: Livvic;
        text-decoration: none;
    }
    section{
        width: 100%;
    }

/* ------------------- Contenedor -----------------------*/
/* Se utiliza para almacenar el vinculo HOME y menú dentro
    de un mismo div, también es utilizado en el título del 
    banner */
    .contenedor{
        width: 98%;
        margin: auto;
    }

/* ----------------------- BANNER --------------------------*/
    /* ---------------------- Fondo ----------------------*/    
    #banner .sec1{
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background: url(../imagenes/background.jpg);
        /* Utilizado para fijar la imagen*/
        background-attachment:fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner .sec1:before{
        content: '';
        position: absolute;
        top: 100%;
        left: -50%;
        width: 100%;
        height: 100%;
        background:white;
        transform-origin: right;
        transform: skewY(5deg);
        box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
    }
    #banner .sec1:after{
        content: '';
        position: absolute;
        top: 100%;
        right: -50%;
        width: 100%;
        height: 100%;
        background:#fff;
        transform-origin: left;
        transform: skewY(-5deg);
        box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
    }
    /* --------------------- Títulos --------------------*/      
    #banner .sec1 .contenedor{
        position: absolute;
        text-align: center;
        padding-top: 10rem;
    }
    #banner .sec1 .contenedor h1{
        color: white;
        font-size: 10em;
        line-height: 1.4em;
        position: absolute;
        left: 2rem;
    }
    #banner .sec1 .contenedor h2{
        color: white;
        font-size: 2em;
        line-height: 1.4em;
    }
/* -----------x----------- BANNER ---------------x----------*/

/* -------------------- INTRODUCCIÓN -----------------------*/

    section.sec2{
        display: flex;
        height: auto;
        padding: 3rem 5rem 01rem 5rem;
        box-sizing: border-box;
        text-align: justify;
        line-height: 2rem;    
        justify-content: center;
    }
    /* --------------------- Títulos --------------------*/   
    .sec2 h1{
        text-align: center;
        font-size: 3rem;
        max-width: 800px;
        position: relative;
        margin: auto;
    }
    /* Se realiza para adornar los titulos iniciales de cada
    pagina */
    .sec2 h1:before{
        content: "";
        display: block;
        width: 15rem;
        height: 0.1rem;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }
    .sec2 h1:after{
        content: "";
        display: block;
        width: 15rem;
        height: 0.1rem;
        background: #000;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }
    /* Espacio en blanco utilizado para ocultas las lineas
    cuadno se realiza responsive */
    .sec2 span{
        background: #fff;
    }

/* ----------------------- ETAPA 2 --------------------------*/    
    section.sec3_act1{
        position: absolute;
        display: flex;
        color: black;
        height: auto;
        padding: 0.5rem 4rem;
        position: relative;
        overflow: hidden;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .sec3_act1 .descripcion{
        width: 80%;        
        display: inline-block;
        text-align: center;
        color: rgba(94, 110,109, 0.9);
        justify-content: center;
    }
    .sec3_act1 .descripcion p{
        font-size: 1.2rem;
        text-align: justify;
    }
    .sec3_act1 .descripcion h3{
        font-size: 3rem;
        text-align: center;
        font-weight: bolder;
        line-height: 1.4em;
    }
    .sec3_act1 .descripcion .btn h3{
        font-size: 1.5rem;
        text-align: center;
    }
    /* ----------------------- ETAPA 3 --------------------------*/    
    .sec3_act1.b .descripcion p{
        background-color: rgba(94, 110,109, 0.1);
    }   
    section.sec3_act1.b{
        padding: 5rem 5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }     
    .sec3_act1.b .descripcion{
        background-color: rgba(255,255,255, 0.8);
        color: rgb(196,61,53);
        border-style: double;
        border-color: rgb(196,61,53);
        padding: 1rem 3rem;
        border-width: 1rem;
    }  
    section.sec3_act1.b:before{        
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background:white;
        transform-origin: left;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    }
    section.sec3_act1.b:after{        
        content: '';
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background:white;
        transform-origin: left;
        box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.8);
    }
    
    /* ----------------------- Imágenes --------------------------*/ 
    .box{
        position: relative;
        width: 80%;
        height: auto;
        padding: 0rem 2rem;
    }

    .box img{
        display: block;
        margin:auto;
        width:  300px;
        height: 300px;
    }
    .box2{
        position: relative;
        width: 30%;
        height: auto;
        padding: 2rem 1rem;
    }
    .box2 img{
        width: 100%;
        height: 100%;
    }
    /* -------------------- SECCION FINAL --------------------------*/
    section.sec3_act1.c{
        
        padding: 5rem 5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }  
    section.sec3_act1.c p{
        font-family: "Black";
        font-size: 1.4rem;
        color: #000;
    }
    /* ------------------- Contenedor -----------------------*/
    /* Se utiliza :before o :after para agregar figuras que permite
    el diseño para varios banner, suele estar acompañado por content */
    section.sec5:before{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background:white;
        transform-origin: left;
        /* Se utiliza para cambiar el angulo respecto al eje Y */
        transform: skewY(5deg);
        box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.8);
    }
/* -------------------- PIE DE PÁGINA --------------------------*/
    .footer{
        position: relative;
        background:black;
        background-position:bottom;
        width: 100%;
        height: auto;
        text-align: center;
        bottom: 0px;
        padding: .5rem;
        color: white;
    }
    
/* --------------x------------- PAGINA--------------x-------------*/

/* ----------------------------- RESPONSIVE 800PX--------------------------------*/
@media only screen and (max-width: 800px) {   
    /* ------------------- INTRODUCCIÓN -------------------------*/
    section.sec2{
        padding: 2rem 5rem 1rem 5rem; 
        flex-wrap: wrap;
    }
    .sec2 .contenedor2{
        flex-wrap: wrap;
    }
    .sec2 .descripcion{
        width: 100%;
        text-align: justify;
    }
    /* ---------------- SECCIÓN INTERMEDIA ----------------------*/
    section.sec3{
        height: auto; 
    }
    /* --------------------- Título----------------------*/
    .sec2 .sec2b h1:before{
        background: transparent;
    }
    .sec2 .sec2b h1:after{
        background: transparent;
    }
    .sec2 .sec2b span{
        background: transparent;
    }
    /* ------------------------- CLASES - ACTIVIDADES ----------------------------*/
    /* --------------------SECCIONES ------------------------*/
    section.sec3_act1.b{
        flex-wrap: wrap;
    }
    .sec3_act1 .descripcion{
        padding-top: 1rem;
        width: 100%;
    }
    .box{
        justify-content: center;
        width: 90%;  
    }
}
/* --------------x-------------- RESPONSIVE 800PX-----------------x--------------*/
/* ----------------------------- RESPONSIVE 500PX---------------------------------*/ 
@media only screen and (max-width: 500px) { 
    section.sec2{
        padding: 2rem 3rem 1rem 3rem; 
    }
}